#markdwon > pre{
   background: #39393A;
   color: #ddd;
   padding: 1rem;
}


#markdwon > table{
   border: 0.5px solid #ccc;
}

#markdwon > tr{
   border: 0.5px solid #ccc;
   padding: 1rem;
}

#markdwon > th ,td{
   border: 0.5px solid #ccc;
   padding: 1rem;
}

#markdwon > P{
   white-space: pre;
}
#markdwon > p,li{
   font-size: 20px;
}

#markdwon > *{
   color:white
}

#markdwon > h1,h2,h3,h4,h5,h6 {
   color:white;
}

#markdwon > img{
   width: 100%;
}